*{
    /* Espaçamento externo */
    margin: 0;
    /* Espaçamento interno */
    padding: 0;
    box-sizing: border-box;
}

/* É usado para colocar fontes externas que não vieram de uma biblioteca */
@font-face {
    font-family: "Benguiat";
    src: url(fontes/Benguiat\ Bold.ttf);
}

body{
    background-color: #0c0102;
    color: rgba(255, 255, 255, 0.9);
    font-family: poppins;
}

button{
    font-family: poppins, sans-serif;
    /* Mostra que a área é clicável, oque é indispensavel para a experiência do usuário */
    cursor: pointer;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Usar vw permite que o ESPAÇAMENTO se adpate ao tamanho da tela do dispositivo do usuário (view width)*/
    padding: 4vw;
    position: absolute;
    /* O z-index controla a ordem de sobreposição dos elementos */
    z-index: 9;
}

section{
    width: 100%;
    display: flex;
    padding: 7vw;
}

h2{
        font-size: 40px;
        font-weight: 500;
}

button{
        background-color: transparent;
        color: white;
        font-size: 16px;
        display: flex;
        /* Gap é o espaçamento interno entre elementos */
        gap: 12px;
        border: none;
        /* A primeira medida do padding é a parte superior e inferior e a segunda parte são as laterais */
        padding: 16px 0px;
        border-bottom: 1px solid white;
        outline: none;
}

.bg_monstro{
    background-image: url(imagens/bg-sec2.webp);
    background-position: center;
    background-size: cover;
}

ul{
    list-style-type: none;
}

.hero{
    background-image: url(imagens/hero.webp);
    background-position: 50% 0%;
    background-size: cover;
    /* Usar vh permite que a ALTURA se adpate a altura da tela do dispositivo do usuário (view height)*/
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 7vw 7vw 7vw;
    /* 1ª medida é a superior;
    2ª medida é a direita;
    3ª medida é a inferior;
    4ª medida é a esquerda;
    */

    .esquerda, .direita{
    /* Já define o width das duas divs de uma única vez */
        width: 30%;
    }

    .esquerda{
        h3{
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 2px;
        }
        h1{
            font-size: 3.7vw;
            font-family: "Benguiat", sans-serif;
        }
    }

    .direita{
        /* Coloca os itens alinhados um ao lado do outro */
        display: flex;
        /* Coloca os itens um abaixo do outro */
        flex-direction: column;
        /* Alinha os itens na horizontal */
        align-items: end;
        p{
            font-size: 2vw;
            margin-bottom: 32px;
            text-align: end;
        }
    }
}

.seção_cidade{
    flex-direction: column;

    .titulo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards{
        margin-top: 52px;
        display: flex;
        justify-content: space-between;

        .card{
            background-image: url("imagens/card1.webp");
            width: 32%;
            aspect-ratio: 16/9;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding: 20px;
        }

        /* Pega o segundo card */
        .card:nth-child(2){
            background-image: url("imagens/card2.webp");
        }
        
        .card:nth-child(3){
            background-image: url("imagens/card3.webp");
        }
    }
    
}

.seção_depoimentos{
    flex-direction: column;

    .logotipos{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .depoimentos{
        margin-top: 62px;
        display: flex;
        justify-content: space-between;

        .depoimento{
            width: 31%;
        }
    }
}

.seção_obrigado{
    flex-direction: column;
    align-items: center;

    h2{
        margin-bottom: 40px;
    }

    ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("imagens/bg-footer.webp");

    .conteúdo_footer{
        display: flex;
        width: 100%;
        padding: 7vw;
    }

    .logo_footer{
        width: 30%;
         
        h3{
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 2px;
        }

        h2{
            font-size: 3.7vw;
            font-family: "Benguiat", sans-serif;
        }
    }

    .seções_footer{
        display: flex;
        flex: 1;
        justify-content: end;
        gap: 6%;
        
    }
}
