*{
    /* Espaçamento externo */
    margin: 0;
    /* Espaçamento interno */
    padding: 0;
    box-sizing: border-box;
}

/* É usado para colocar fontes externas que não vieram de uma biblioteca */
@font-face {
    font-family: "Benguiat";
    src: url(fontes/Benguiat\ Bold.ttf);
}

html, body{
    overflow-x: hidden !important;
}

body{
    background-color: #0c0102;
    color: rgba(255, 255, 255, 0.9);
    font-family: poppins;
    overflow-x: hidden;
}

button{
    font-family: poppins, sans-serif;
    /* Mostra que a área é clicável, oque é indispensavel para a experiência do usuário */
    cursor: pointer;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Usar vw permite que o ESPAÇAMENTO se adpate ao tamanho da tela do dispositivo do usuário (view width)*/
    padding: 4vw;
    position: absolute;
    /* O z-index controla a ordem de sobreposição dos elementos */
    z-index: 9;
}

section{
    width: 100%;
    display: flex;
    padding: 7vw;
}

h2{
        font-size: 40px;
        font-weight: 500;
}

button{
        background-color: transparent;
        color: white;
        font-size: 16px;
        display: flex;
        /* Gap é o espaçamento interno entre elementos */
        gap: 12px;
        border: none;
        /* A primeira medida do padding é a parte superior e inferior e a segunda parte são as laterais */
        padding: 16px 0px;
        border-bottom: 1px solid white;
        outline: none;
}

.bg_monstro{
    background-image: url(imagens/bg-sec2.webp);
    background-position: center;
    background-size: cover;
}

ul{
    list-style-type: none;
}

.hero{
    background-position: 50% 0%;
    background-size: cover;
    /* Usar vh permite que a ALTURA se adpate a altura da tela do dispositivo do usuário (view height)*/
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 7vw 7vw 7vw;
    /* 1ª medida é a superior;
    2ª medida é a direita;
    3ª medida é a inferior;
    4ª medida é a esquerda;
    */
    position: relative;

    picture{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }

    .esquerda, .direita{
    /* Já define o width das duas divs de uma única vez */
        width: 30%;
        z-index: 3;
    }

    .esquerda{
        h3{
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 2px;
        }
        h1{
            font-size: 3.7vw;
            font-family: "Benguiat", sans-serif;
        }
    }

    .direita{
        /* Coloca os itens alinhados um ao lado do outro */
        display: flex;
        /* Coloca os itens um abaixo do outro */
        flex-direction: column;
        /* Alinha os itens na horizontal */
        align-items: end;
        p{
            font-size: 2vw;
            margin-bottom: 32px;
            text-align: end;
        }
    }
}

.hero:before{
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    position: absolute;
    background: linear-gradient(180deg, rgba(12, 1, 2, 0.00) 0%, #0C0102 100%);
    z-index: 2;
}

.seção_cidade{
    flex-direction: column;

    .titulo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards{
        margin-top: 52px;
        display: flex;
        justify-content: space-between;

        .card{
            background-image: url("imagens/card1.webp");
            width: 32%;
            aspect-ratio: 16/9;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding: 20px;
        }

        /* Pega o segundo card */
        .card:nth-child(2){
            background-image: url("imagens/card2.webp");
        }
        
        .card:nth-child(3){
            background-image: url("imagens/card3.webp");
        }
    }
    
}

.seção_depoimentos{
    flex-direction: column;

    .logotipos{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .depoimentos{
        margin-top: 62px;
        display: flex;
        justify-content: space-between;

        .depoimento{
            width: 31%;
        }
    }
}

.seção_obrigado{
    flex-direction: column;
    align-items: center;

    h2{
        margin-bottom: 40px;
    }

        ul{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("imagens/bg-footer.webp");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

    .conteúdo_footer{
        display: flex;
        width: 100%;
        padding: 7vw;

        .logo_footer{
        width: 30%;
         
            h3{
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 2px;
            }

            h2{
                font-size: 3.7vw;
                font-family: "Benguiat", sans-serif;
            }
        }

        .seções_footer{
            display: flex;
            flex: 1;
            justify-content: end;
            gap: 6%;
            /* Sempre que se usa a porcentagem ela se refere ao conteiner que ela esta inserida, já o vw se refere a tela inteira */
            align-items: end;

            h3{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 12px;
            }

            .social{
                ul{
                    display: flex;
                    gap: 2px;
                }
            }
        }
    }   

    .logotipos_footer{
        width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 4vw;
    }

    .texto_infinito{
        width: max-content;
        display: flex;

        h3{
            color: rgb(191, 191, 191);
            font-size: 12vw;
            font-family: "benguiat", sans-serif;
            mix-blend-mode: color-dodge;
            animation: texto_infinito 10s infinite linear;
            padding-left: 3vw;
        }
    }
}

@keyframes texto_infinito{
    100%{
        /* O X sinaliza que a animação vai se mover no eixo X, ou seja, horizontal */
        transform: translateX(-100%);
    }
}

/* MEDIA QUERIES -> podemos criar propriedades para uma largura de tela especifica */
@media (max-width: 1500px){
    /* Sempre se atentar a especificidade pois quanto mais especififco for mais força tem */
    .seção_cidade{
        padding: 4vw;
    }
}

@media (max-width: 1400px){
    .seção_cidade .cards .card{
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }
}

@media (max-width: 600px){
    section{
        padding: 4vw;
    }

    h2{
        font-size: 6vw;
    }

    header h2{
        font-size: 28px;
    }
    .hero{
        flex-direction: column;
        padding: 26% 4vw 0;

        .esquerda, .direita{
            width: 100%;
        }

        .esquerda{
            h3, h1{
                text-align: center;
            }

            h1{
                font-size: 10vw;
            }
        }

        .direita{
            align-items: start;

            p{
                font-size: 5.5vw;
                text-align: start;
                margin-bottom: 16px;
            }
        }
    }

    .seção_cidade{
        margin-top: 80px;
        button{
            /* Ocultando o botão */
            display: none;
        }

        .cards{
            margin-top: 20px;
            flex-direction:  column;
            gap: 20px;

            .card{
            width: 100%;
            }
        }
    }

    .seção_depoimentos{
        .logotipos{
            img:nth-child(1), img:nth-child(3){
                width: 20%;
            }

            img:nth-child(2){
                width: 40%;
            }
        }

        .depoimentos{
            flex-direction: column;
            gap: 48px;

            .depoimento{
                width: 100%;
            }
        }
    }

    .seção_obrigado{
        margin: 40px 0px 60px;
        
        h2{
            text-align: center;  
        }

        ul{
            width: max-content;
            gap: 32px;
            animation: texto_infinito 10s infinite linear;
        }
    }

    footer{
        padding-top: 40px;
        .conteúdo_footer{
            padding: 4vw;
            flex-direction: column;

            .logo_footer{
                width: 100%;

                h2,h3{
                    text-align: center;
                }

                h2{
                    font-size: 12vw;
                }
            }
            
            .seções_footer{
                flex-wrap: wrap;
                justify-content: center;
                align-items: start;

                .social{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 40px 0px 32px;
                }

                .institucional{
                    width: 40%;
                }

                .parceiro{
                    width: 50%;

                    img{
                        width: 100%;
                    }
                }
            }
            
        }

        .logotipos_footer{
            margin-top: 40px;
        }

        .texto_infinito{
            
            h3{
                font-size: 20vw;
            }
        }
    }
}
