*{
    /* Espaçamento externo */
    margin: 0;
    /* Espaçamento interno */
    padding: 0;
    box-sizing: border-box;
}

/* É usado para colocar fontes externas que não vieram de uma biblioteca */
@font-face {
    font-family: "Benguiat";
    src: url(fontes/Benguiat\ Bold.ttf);
}

body{
    background-color: #0c0102;
    color: rgba(255, 255, 255, 0.9);
    font-family: poppins;
}

button{
    font-family: poppins, sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Usar vw permite que o ESPAÇAMENTO se adpate ao tamanho da tela do dispositivo do usuário (view width)*/
    padding: 4vw;
    position: absolute;
    /* O z-index controla a ordem de sobreposição dos elementos */
    z-index: 9;
}

.hero{
    background-image: url(imagens/hero.webp);
    background-position: 50% 0%;
    background-size: cover;
    width: 100%;
    /* Usar vh permite que a ALTURA se adpate a altura da tela do dispositivo do usuário (view height)*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 7vw 7vw 7vw;
    /* 1ª medida é a superior;
    2ª medida é a direita;
    3ª medida é a inferior;
    4ª medida é a esquerda;
    */

    .esquerda, .direita{
    /* Já define o width das duas divs de uma única vez */
        width: 30%;
    }

    .esquerda{
        h3{
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 2px;
        }
        h1{
            font-size: 3.7vw;
            font-family: "Benguiat", sans-serif;
        }
    }

    .direita{
        /* Coloca os itens alinhados um ao lado do outro */
        display: flex;
        /* Coloca os itens um abaixo do outro */
        flex-direction: column;
        /* Alinha os itens na horizontal */
        align-items: end;
        p{
            font-size: 2vw;
            margin-bottom: 32px;
            text-align: end;
        }

        button{
            background-color: transparent;
            color: white;
            font-size: 16px;
            display: flex;
            /* Gap é o espaçamento interno entre elementos */
            gap: 12px;
            border: none;
            /* A primeira medida do padding é a parte superior e inferior e a segunda parte são as laterais */
            padding: 16px 0px;
            border-bottom: 1px solid white;
            outline: none;
        }
    }
}

